  <extend name="Public:common" />

<block name="main">
    <form action="{:U('Vote/insert')}" id="j_custom_form" class="col-md-12 form-label-right form-validate" method="post" url="{:U('Vote/index')}" callback="TabAjaxDone" noEnter>
      
       <div class="pageContainer">
            <div class="form-row">
                <div class="form-label col-md-2"><label>标题：</label>
                </div>
                <div class="form-input col-md-7">
                <input type="text" size="30" class="validate[required,minSize[1]] required"  name="title" id="j_title" value=""  >
               </div>
            </div>
            <div class="form-row">
            </div>
           <div class="form-row">
               <div class="form-label col-md-2"><label>投票规则：</label>
               </div>
               <div class="form-input col-md-7">
                   <textarea name="desc" style="width:auto;"  class="j-content" uploadJson="{:U('File/ke_upimg')}" fileManagerJson="{:U('File/editorfilemanager')}"  minheight="200"></textarea>
               </div>
           </div>
           <div class="form-row">
           </div>
           <div class="form-row">
               <div class="form-label col-md-2"><label>奖品设置：</label>
               </div>
               <div class="form-input col-md-7">
                   <textarea name="prize_desc" style="width:auto;"  class="j-content" uploadJson="{:U('File/ke_upimg')}" fileManagerJson="{:U('File/editorfilemanager')}"  minheight="200"></textarea>
               </div>
           </div>
           <div class="form-row">
           </div>
           <div class="form-row">
               <div class="form-label col-md-2"><label>每组中奖人数：</label>
               </div>
               <div class="form-input col-md-2">
                   <input type="text" size="3" class="validate[required,minSize[1]] required"  name="prize_num" id="j_prize_num" value=""  >
               </div>
           </div>
           <div class="form-row">
           </div>
           <div class="form-row">
               <div class="form-label col-md-2"><label>开始时间：</label>
               </div>
               <div class="form-input col-md-2">
                   <p class="datep"><input class="datainp"  name="start_at" id="start_at" type="text" placeholder="请选择"  readonly></p>
               </div>
           </div>

           <div class="form-row">
           </div>
           <div class="form-row">
               <div class="form-label col-md-2"><label>结束时间：</label>
               </div>
               <div class="form-input col-md-2">
                   <p class="datep"><input class="datainp"  name="end_at" id="end_at" type="text" placeholder="请选择"  readonly></p>
               </div>
           </div>

           <div class="form-row">
           </div>
           <div class="form-row">
                <div class="form-label col-md-2"><label>状态：</label>
              </div>
                <div class="col-md-7">
               <select name="status"  data-container="body"  id="j_status" class="selectpicker show-tick validate[required]" data-style="btn medium bg-green" data-width="auto">
                               
                                 <option value="1">启用</option>
                                <option value="0">禁用</option>
                 </select>
		</div>
        <div class="form-row">
        </div>
		 <div class="form-row">
		<div class="form-label col-md-2">
        <label>主题图片：</label></div>
        <div class="col-md-7">
					<input type="file" id="upload_picture_advspic">
					<input type="hidden" name="image" id="cover_id_advspic" value="{$info.img}"/>
					<div class="upload-img-box">
						<notempty name="info['img']"><div class="upload-pre-item">
						<img src="__ROOT__{$info.path}"/></div></notempty>
					</div>
				
		
					</div>
			</div>
			
<script type="text/javascript">
$(function(){
	setTimeout(function(){
	$("#upload_picture_advspic").uploadify({
        "height"          : 30,
        "swf"             : "__STATIC__/uploadify/uploadify.swf",
        "fileObjName"     : "Picture",
        "buttonText"      : "<span class='button-content'><i class='glyph-icon icon-picture-o'></i> 上传图片</span>",
        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
        "width"           : 120,
        'removeTimeout'	  : 1,
        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
        "onUploadSuccess" : uploadPicture{$field.name},
        'onFallback' : function() {
            alert('未检测到兼容版本的Flash.');
        }
    });
	},3);

    jeDate({
        dateCell:"#start_at",
        format:"YYYY-MM-DD hh:mm:ss",
        isinitVal:true,
        isTime:true, //isClear:false,
        minDate:"2014-09-19 00:00:00",
        okfun:function(val){alert(val)}
    })

    jeDate({
        dateCell:"#end_at",
        format:"YYYY-MM-DD hh:mm:ss",
        isinitVal:true,
        isTime:true, //isClear:false,
        minDate:"2014-09-19 00:00:00",
        okfun:function(val){alert(val)}
    })

});
function uploadPicture{$field.name}(file,data){
	var data = $.parseJSON(data);
	
	
	var src = '';
    if(data.status){
    	$("#cover_id_advspic").val(data.id);
    	src = data.url || data.path
    	$("#cover_id_advspic").parent().find('.upload-img-box').html(
    		'<div class="upload-pre-item"><img src="' + src + '" width="100" height="100" onclick="imgpop(this)"/></div>'
    	);
    } else {
    	 alertMsg.error(data.info);
    	
    }
}
</script>
		  <div class="actionBar">
               
                <div class="form-input col-md-10 col-md-offset-2">
                   <button type="submit" class="btn medium bg-blue">保存</button>
           <button type="button" url="{:U('Vote/index')}" class="btn-close btn medium bg-red mrg15L">取消</button>
                </div>
            </div>
            </div>
    </form>
</block>