<extend name="Public:common" />


<block name="main">

<div class="example-code">

        <div class="row mrg20B">







            <div class="col-lg-3">

                <a href="javascript:;" class="tile-button btn bg-red" title="">
                    <div class="tile-header">
                        当前版本号
                    </div>
                    <div class="tile-content-wrapper">
                        <i class="glyph-icon icon-anchor"></i>
                        <div class="tile-content">
                            <span>V</span>
                            20170601
                        </div>
                        <small>
                            <i class="glyph-icon icon-caret-up"></i>
                        </small>
                    </div>
                  
                </a>

            </div>

        </div>


    </div>
<div class="example-code">

    </div>


                
</block>